ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top:0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #ff6600;
}
h1{padding-bottom: 10px}
body{
    background-color: #e59c53;
    background-image: url("../images/jobs2.png");
    background-size:cover ;
    background-repeat: no-repeat;
}
#a{
    margin-top: 400px;
    text-align: center;
    background-color: rgba(229, 156, 83, 0.6);
}